@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Poppins:wght@300;400;500&display=swap');
:root{
    font-family: "Poppins", sans-serif;
    font-family: "Kaisei Tokumin", serif;
}