@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body {
  font-family: 'Spline Sans', sans-serif;
  color: #777;
  line-height: 1.7;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.btn {
  border-radius: 1;
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  font-weight: 600;
  border-color: #f58d17;
  background-color: #f58d17;
}

.btn-brand:hover {
  border-color: #ca7310;
  background-color: #ca7310;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  min-width: 100%;
  width: 100%;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* slider */
.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg1.jpg);
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg2.jpg);
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: ' ';
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  display: inline;
  margin: 10px;
  vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

.tab-pane img {
  height: 200px;
}
/* about */
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

#about .divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: F58d17;
}

.intro-text {
  margin-bottom: 40px;
  text-align: center;
}

.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}

/* Menu */
#menu .nav-pills .nav-link {
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #222;
  border-radius: 100px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

#menu .nav-pills .nav-link.active {
  background-color: #f58d17;
  color: #fff;
}

.menu-item .star {
  color: #f58d17;
}

.shadow-on-hover {
  transition: all 0.2s;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

/* feature */

#features {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg3.jpg);
}

.feature {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
  width: 80px;
  height: 80px;
  background-color: #f58d17;
  color: #fff;
  font-size: 28px;
  display: inline-grid;
  align-items: center;
  align-content: center;
  text-align: center;
}

.team-member {
}
.team-member img {
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 0 #f58d17;
}

.team-member img:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  box-shadow: -6px -6px 0 red;
}

#reservation .form-control {
  border-radius: 0;
}

#reservation .form-control:forcus {
  box-shadow: none;
  border: #f58d17;
}

#reservation input.form-control {
  height: 47px;
}
.insta-posts {
  position: relative;
}
.insta-posts .insta-btn {
  width: 90px;
  height: 90px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.insta-posts img {
  transition: all 0.4s;
}

.insta-posts:hover img {
  transform: scale(1.2);
}
.insta-posts:hover .insta-btn {
  opacity: 1;
}

.blog-post img {
  width: 30%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .blog-post {
    flex-direction: column;
  }
  .blog-post img {
    width: 100%;
  }
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg1.jpg);
  padding-top: 120px;
  padding-bottom: 30px;
}
