@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body {
  font-family: 'Spline Sans', sans-serif;
  color: #777;
  line-height: 1.7;
}

.btn {
  border-radius: 1;
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  font-weight: 600;
  border-color: #f58d17;
  background-color: #f58d17;
}

.btn-brand:hover {
  border-color: #ca7310;
  background-color: #ca7310;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  min-width: 100%;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* slider */
.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg1.jpg);
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bg2.jpg);
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: ' ';
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  display: inline;
  margin: 10px;
  vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

/* about */
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  width: 100%;
}

#about .divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: F58d17;
}

.intro-text {
  margin-bottom: 40px;
  text-align: center;
}

.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}
